
*{
    padding: 0;
    margin: 0;
}
.input-fill input, select{
    display: block;
    margin-top: 5px;
}
.circs-label label{
    display: block;
   margin-top: 5px;

}
.circs-label{
    position: absolute;
    left: 10px;
    width: 172px;
}
.input-fill{
    position: absolute;
    left: 184px;
    right: 0;
}
div.inline-radio label, input{
    display: inline-block !important; 
}
.inline-radio input{
    position: relative;
    top: 3px;
    margin-right: 0px;
    }
.inline-radio label{
    margin-right: 5px;
}
.check-position{
    position: relative;
    top: 4px
}
.textarea-position{
    position: absolute;
    top: 136px;
    left: 10px;
    width: 100%;
}
.article-text{
    width: 100%;
    margin-top: 100px;
}
.sub-pos{
    position: absolute;
    top: 175px;
    left: 10px;
}
@media all and (max-width: 295.68px){
    .sub-pos{
        
        top: 294px;
        
    }
}
@media all and (max-width: 218.88px){
    .sub-pos{
        
        top: 312px;
        
    }
}
@media all and (max-width: 169.60px){
    .sub-pos{
        
        top: 330px;
        
    }
}
@media all and (max-width: 166.40px){
    .sub-pos{
        
        top: 348px;
        
    }
}
@media all and (max-width: 144px){
    .sub-pos{
        
        top: 366px;
        
    }
}
@media all and (max-width: 124.80px){
    .sub-pos{
        
        top: 384px;
        
    }
}
@media all and (max-width: 120.32px){
    .sub-pos{
        top: 402px;
    }
}


